# Default values for the application
replicaCount: 1

# Namespace to set on created resources. Leave empty to use the release namespace.
name: "blog-api"
namespace: "backend"
api_port: 9090

image:
  repository: ahmad75/blog-api
  pullPolicy: IfNotPresent
  tag: "9"  # Overrides the image tag whose default is the chart appVersion

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # runAsNonRoot: true
  # runAsUser: 1000
  # fsGroup: 1000
  # seccompProfile:
  #   type: RuntimeDefault

securityContext: {}
  # allowPrivilegeEscalation: false
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true

service:
  enabled: true
  type: ClusterIP
  annotations: {}

ingress:
  enabled: false
  className: "traefik"
  annotations: {}
    # cert-manager.io/cluster-issuer: letsencrypt-prod
    # nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: app.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: 
   - secretName: ""
     hosts:
       - app.example.com

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

livenessProbe:
  enabled: true
  httpGet:
    path: /api/v1/health
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  enabled: true
  httpGet:
    path: /api/v1/health
    port: http
  initialDelaySeconds: 20
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

startupProbe:
  enabled: false
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 30

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

podDisruptionBudget:
  enabled: false
  minAvailable: 1

configMap:
  enabled: false
  data: {}

secret:
  enabled: true
  # Provide encrypted data (created with kubeseal) as key: sealed-value
  encryptedData:
    # SPRING_DATASOURCE_URL: AgCDBvmPJmVsgUiI3ma7U13So2VULJVe///dywIiGBDIW2V3ue5tMFbZDDAix6v/...
    # SPRING_DATASOURCE_USERNAME: AgCb+6cVyXab0uIJzNO4ZR4uFxvZJsBVinyO9Y5Um7Fko6lyrLKlym5Ao5j7pk2rnD7JnRORHA/...
    # SPRING_DATASOURCE_PASSWORD: AgCb+6cVyXab0uIJzNO4ZR4uFxvZJsBVinyO9Y5Um7Fko6lyrLKlym5Ao5j7pk2rnD7JnRORHA/...
    REDIS_HOST: AgCUmQa1ABZHnYvTp2F2f75FnLCiitR2qvN5/sWyn1rRP/toPgbfZntNbqGioN49u8tGspKOE9DVcLZLw0CEwIg3JtqEsBWxCVY3yO3281yI6S5KgSl9UemO5PLMYKTZJruH3KCkiCSQYlqp7SKYuamxqZ+vqKS2K4+uQMFJN0niSIqYQHlG5Z1WyrqsBRKFyQMf07PVDFw3uIK3d5jxQrG5aslu8yXMOWi/BgruexSdcFmWbVsKBSa9rD7qI9eUmAjTjvSMTYQlelmv0WeZ2xTQeRT/fezmw8SszCPbzVpdAMYxsdyfoWdjZddN7BPED3NC35kMpX8rcphx870L+Z1pUlCbI7UdX8D2G7P6rvwwexpnR13VuCLAXmcIEw+E2XjD9Cz22EXlASoJBI2J+uM7rBTwnPPiksNAU5Zm+eonlRRMUNbjKdLDNed5ZBRmJOVdzqRi9vQfI9Rzt7maYfkH/DoBBHLq0RhmkfOzalOc0/0oH/s2EOQ5k3NEm0Opi0kGCe+VJwgEyuHBt0YCwHtuRCeO1dAkt5Nya0qavkkresOmqUpaWqsQi+W4jfewptPcQRcnOXv64E1QkrzTXppuWJgz8i7FUpexTDhBTsZTx5S/84v7PlnabzjG2XTOBq3KGakdEe9YW3nULO8noVT1h1RXV33uM+hXWBOxL2le0TjXfCueD3S7SZ/yIVj1jV5tlBYiNWJplRfTKFpcwT3t2O5dWDTIkVSKfvR4eYBe
    REDIS_PORT: AgAQRHE+ymfjginsNiiMvg0HKkNiAqOpmnss2Wz1V0889HrrC1L4/CVd13bG9Zg/Htwr7WEH3sEdfTfx6dxb+Z3ViS3BiIvfDSu7eLdbwEBtpoHTg5flTvFHnkrLBi/1iUq5yt6YW4AGWhqvOSYLhqgaVER3rEJG73U7ekWwe4jidihigUgusq49ZiiGby85T30O/7Nhy+htAFodH6kewGSGXzg5kfvYWUQ6slRAT8kx/DJxQedXQUaXsasdt8Ab6N+7qilIL2LATFJzkeDtqw5SIS0Bv9KalUwJv8yi/cOY8L9VNqLqjONMmRFy1qm0bVuUgJRVeBQEVCWjoido8djU/W/kffTWXz9p8KSNf/s0wWLxQBvrbfui8VeOYscdxuHkMy05sxbUfO0tEkxeb2XxSI1lw11KAyHHkzMIF7O7T12LVD3BAs8fbDO2v4mQKhQ0QIA+eCS3vqdk3vii9XTUYpa7dfrgUKzCLD/ODUTmC3gRiMEHyD2wkr3T73Nmcdapc80nj5kSQUY/ySjkBmx18J9e/9uJSm8yu5UDFfcogLvRAzDJXXw2vsNsT1KM9wEwhT5T2qT67hafn1lZg9F4YDfHUFSgmyU+yOtCUP6komRcEpyDnMdbAN4cEAMYaJ/Y9cExfoFO3tjqJRu3WncqAU0W8DwGTExlkFOR0GAJBFQ1oIijpBokYteP4mKMs6mUMFoP
  data: {}

env: []
envFrom: []

initContainers: []
sidecars: []

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

tlsSecret:
  enabled: false
  # Leave empty to default to the chart fullname.
  name: ""
  tls: {}