# Default values for the application
replicaCount: 1

name: "test-front-end"
api_port: 80
envs: "dev"

image:
  repository: ahmad75/test-front-end
  pullPolicy: IfNotPresent
  # tag: "9"  # Overrides the image tag whose default is the chart appVersion

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # runAsNonRoot: true
  # runAsUser: 1000
  # fsGroup: 1000
  # seccompProfile:
  #   type: RuntimeDefault

securityContext: {}
  # allowPrivilegeEscalation: false
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true

service:
  enabled: true
  type: ClusterIP
  annotations: {}

ingress:
  enabled: true
  className: "traefik"
  annotations: {}
    # cert-manager.io/cluster-issuer: letsencrypt-prod
    # nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: locker.laber.online
      paths:
        - path: /
          pathType: Prefix
  tls: 
   - secretName: "tls-cert"
     hosts:
       - locker.laber.online
tlsSecret:
  enabled: true
  # Leave empty to default to the chart fullname.
  name: "tls-cert"
  tls:
    crt: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUdiRENDQkZTZ0F3SUJBZ0lRVlIzVEd2bUF1U2FSeWh6WFExK3JBREFOQmdrcWhraUc5dzBCQVF3RkFEQkwKTVFzd0NRWURWUVFHRXdKQlZERVFNQTRHQTFVRUNoTUhXbVZ5YjFOVFRERXFNQ2dHQTFVRUF4TWhXbVZ5YjFOVApUQ0JTVTBFZ1JHOXRZV2x1SUZObFkzVnlaU0JUYVhSbElFTkJNQjRYRFRJMU1USXlOVEF3TURBd01Gb1hEVEkyCk1ETXlOVEl6TlRrMU9Wb3dIekVkTUJzR0ExVUVBeE1VWW1GamEyVnVaQzVzWVdKbGNpNXZibXhwYm1Vd2dnRWkKTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFEd3Z3dFE5eFpVcTNHYytMY3NzV00xRm9BUQoxL0lmM242bVFNejdvc0NtWHlPU2thWWgrWmlNWUloRVBlU0pVb21CQ1pZZDBFREpjNE9GaFNCOCsyMTJJblBvCkpFbHhsOUhCTHo5M1RxeVFOZmZGelUyYlRGT1FFR0VQL05xbkg1OGxYanVpc3lwWWE5b282TWFibzZLSEZTY2UKRitxbjJUUEN2V0ZoRm9xZEs4NldEK0wvUVY5MStDT0MrcGViN0prT3o4b0dyMDM3YXNpY2xFVW83MnU0Z3pUMgoyRldhZjh3ZnZUSmtWNXk4L2JLcktKTzE2aFM1c1lySEl3VTFlbkNxaThsam1HSjJiSmM3NEN2bk0rdDV5K3IyCk93VGdyRGxaMTlqUTh6N2hXanN2eTU2Mm95MkdRMEEwcFBUdGJEVUZ3VHpaSWIvNk41VUpRek42MVlZaEFnTUIKQUFHamdnSjJNSUlDY2pBZkJnTlZIU01FR0RBV2dCVEkyWGhvb3RrWmFOVTljdDVmQ2o3Y3RZYUdwakFkQmdOVgpIUTRFRmdRVVpyY1E3Q2xSTWt5UU9qTUJ3NUhNeTE5SHZvWXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01Bd0dBMVVkCkV3RUIvd1FDTUFBd0V3WURWUjBsQkF3d0NnWUlLd1lCQlFVSEF3RXdTUVlEVlIwZ0JFSXdRREEwQmdzckJnRUUKQWJJeEFRSUNUakFsTUNNR0NDc0dBUVVGQndJQkZoZG9kSFJ3Y3pvdkwzTmxZM1JwWjI4dVkyOXRMME5RVXpBSQpCZ1puZ1F3QkFnRXdnWWdHQ0NzR0FRVUZCd0VCQkh3d2VqQkxCZ2dyQmdFRkJRY3dBb1kvYUhSMGNEb3ZMM3BsCmNtOXpjMnd1WTNKMExuTmxZM1JwWjI4dVkyOXRMMXBsY205VFUweFNVMEZFYjIxaGFXNVRaV04xY21WVGFYUmwKUTBFdVkzSjBNQ3NHQ0NzR0FRVUZCekFCaGg5b2RIUndPaTh2ZW1WeWIzTnpiQzV2WTNOd0xuTmxZM1JwWjI4dQpZMjl0TUlJQkJBWUtLd1lCQkFIV2VRSUVBZ1NCOVFTQjhnRHdBSGNBRGxlVXZQT3VxVDR6R3l5WkI3UDNrTitiCndqMXhNaVhkSWFrbHJHSEZUaUVBQUFHYlZzaFZzUUFBQkFNQVNEQkdBaUVBeGpwOVRCYUVCWFlzK3hhT2hmZ20KMis2R3lEK2t3NFNxcTJxcjdpZlR0K2dDSVFEcTRWMFFqMGxmT3g2b242d0puMEpVUUE1QW54SGs2OUtQUUZOQgpxWnkxQlFCMUFORnVxYVZvQjM1bU5hQS9ONlhkdkFPbFBFRVNGTlNJR1BYcE1iTWp5NVVFQUFBQm0xYklWbkVBCkFBUURBRVl3UkFJZ2ZLQjVBM1YxTHVnNGJDVFh0WWN1MSs5Wm56L2lnV3JlbFVZSjV6emN0TnNDSURidDJXWkkKMDdHblduVWVUMHdENy9RRWNETmpNc2oyelF6ckV3am1GbW5RTUI4R0ExVWRFUVFZTUJhQ0ZHSmhZMnRsYm1RdQpiR0ZpWlhJdWIyNXNhVzVsTUEwR0NTcUdTSWIzRFFFQkRBVUFBNElDQVFBUE8yZ05GbVFxbTdoMDlQNlQ4ejRoClF5RjBobUNsV1cxV2tpbU80Z2dWRFhhc0dmNUpvZlMvRGhyaXZjVUxLbUhlazNtcXh3enJMcit5Z2N3RURYVDYKZE5CNmhwSTk4UDM4Yi96S1AvMDE1ME9JeVpXNWNiVE9zY1oyeEEwU3hINnF3bTc0SkVFRzRQM0FPSzFoL0twMwo3SHlLUThPQVIrUzhiVGFwUlZNNEt5NnN2RVltYm5scWVjVVM0c1dwSG5nSS9HS2RneVIvRFpjSTMxMmhnZjBQCktpSzhRWjVsT0xSa2ZDNjRBeWVJK1l4NE1UZW9ITjJMMDYrUk1GQ1Q1WGZ6bUpqYTNRSThUUWZYU1FTSUdXNWMKQXU5RFByMlEyV1lnRnB3RWJQYWNPUnBtblU4dHlkUndrSDFFZ1lITjZxUG5id3Njd1lYUEpMOTJBTUFNRHY5TAp4WENzVk8wVHhMWi91SHR3Q3RKSkJKRk41S1FERDhteUFkeWZGVS9JSUVWQmhwUGxiQ3orR2NFKy9vRFo2K3hNCnlrRkNLRjFFS2UyZjIvN1YrdTYydk42TS83cHRlODZJcGd2MktSTEpNNCtuUldHZzV0S2lJNVVuaTBRbjJTQ24Kai9xaUhZM0hZOUhKeWVRZHg3UmpsNTN2L0pXWjgyQWNNTnkzVlZzZkFyVEVNZkRtYUd3dnYzQmVSSDdjNDMvTwpWdnhtQ0k4VHRITUIxUkx6QmJQTm52aHd0WUFkcHR3RTJsWGtpREwxOEFYeERNdjRnYWY1RFcrRGozN3M4SGdoCjdJUXMzMUxBVGhuWFd2ZzN5TlFNNjR2aUVic2R3dTBJNklzbUp3aElrQ0VOcEY1NXlaTzdCRG5OeTVDQTdxeEQKMlVFUmVhcUV1d2xVZnlqNWxiNGlZUT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0KLS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUcxVENDQkwyZ0F3SUJBZ0lRYkZXcjI5QUhrc2VkQnd6WUVaN1d2ekFOQmdrcWhraUc5dzBCQVF3RkFEQ0IKaURFTE1Ba0dBMVVFQmhNQ1ZWTXhFekFSQmdOVkJBZ1RDazVsZHlCS1pYSnpaWGt4RkRBU0JnTlZCQWNUQzBwbApjbk5sZVNCRGFYUjVNUjR3SEFZRFZRUUtFeFZVYUdVZ1ZWTkZVbFJTVlZOVUlFNWxkSGR2Y21zeExqQXNCZ05WCkJBTVRKVlZUUlZKVWNuVnpkQ0JTVTBFZ1EyVnlkR2xtYVdOaGRHbHZiaUJCZFhSb2IzSnBkSGt3SGhjTk1qQXcKTVRNd01EQXdNREF3V2hjTk16QXdNVEk1TWpNMU9UVTVXakJMTVFzd0NRWURWUVFHRXdKQlZERVFNQTRHQTFVRQpDaE1IV21WeWIxTlRUREVxTUNnR0ExVUVBeE1oV21WeWIxTlRUQ0JTVTBFZ1JHOXRZV2x1SUZObFkzVnlaU0JUCmFYUmxJRU5CTUlJQ0lqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FnOEFNSUlDQ2dLQ0FnRUFobWx6ZnFPMU1kZ2oKNFczZHBCUFRWQlgxQXV2Y0F5RzFmbDBkVW53L01ldWVDV3pSV1RoZVozNUxWbzkxa0xJM0REVmFaS1crVEJBcwpKQmpFYlltTXdjV1NUV1lDZzUzMzRTRjArY3REQXNGeHNYK3JURGg5a1NyRy80bXA2T1NodWJMYUVJVUppWm80CnQ4NzNUdVNkMFdqNURXdDNEdHBBRzhUMzVsL3YreHJOOHViOFBTU29YNVZrZ3craldmNEtRdE52VUZMRHE4bUYKV2hVblBMNmpIQUFEWHB2czRsVE5Zd090eDl5UXRicHh3U3Q3UUpZMStJQ3JtUkpCNkJ1S1J0L2pmREpGOUpzYwpSUVZsSEl4UWRLQUpsN29hVm5YZ0RrcXRrMnFkZGQza0NEWGQ3NGd2ODEzRzkxejdDanNHeUo5M29KSWxOUzNVCmdGYkQ2VjU0Sk1nWjNyU21vdFliejk4b1p4WDdNS2J0Q20xYUovcStoVHYyWUsxeU14cm5mY2llS21PWUJiRkQKaG5XNU82Uk1BNzAzZEJLOTJqNlhSTjJFdHRMa1F1dWpaZ3kralhSS3RhV01JbGtOa1dKbU9pSG1FclFuZ0h2dAppTmtJY2pKdW1xMWRkRlg0aWFUSTQwYTZ6Z3ZJQnR4RmVEczJSZmNhSDczZXI3Y3ROVVVxZ1FUNXJGZ0poTW1GCng3NnJRZ0I1T1pVa29kYjVrMmV4N1ArR3U0Sjg2YlMxNTA5NFV1WWNWMDloVmVrbm1UaDVFeDlDQktpcExTMlcKMndLQmFrZithVlluTkNVNlMwbkFTcXQyeHJacEdDMXY3djZEaHVlcHl5SnRuM3FTVjJQb0JpVTVTcWwrYUFScAp3VWliUU1HbTQ0Z2p5TkRxRGxWcCtTaExRbFVIOXg4Q0F3RUFBYU9DQVhVd2dnRnhNQjhHQTFVZEl3UVlNQmFBCkZGTjV2MXFxSzByUFZJRGgySnZBbmZLeUEyYkxNQjBHQTFVZERnUVdCQlRJMlhob290a1phTlU5Y3Q1ZkNqN2MKdFlhR3BqQU9CZ05WSFE4QkFmOEVCQU1DQVlZd0VnWURWUjBUQVFIL0JBZ3dCZ0VCL3dJQkFEQWRCZ05WSFNVRQpGakFVQmdnckJnRUZCUWNEQVFZSUt3WUJCUVVIQXdJd0lnWURWUjBnQkJzd0dUQU5CZ3NyQmdFRUFiSXhBUUlDClRqQUlCZ1puZ1F3QkFnRXdVQVlEVlIwZkJFa3dSekJGb0VPZ1FZWS9hSFIwY0RvdkwyTnliQzUxYzJWeWRISjEKYzNRdVkyOXRMMVZUUlZKVWNuVnpkRkpUUVVObGNuUnBabWxqWVhScGIyNUJkWFJvYjNKcGRIa3VZM0pzTUhZRwpDQ3NHQVFVRkJ3RUJCR293YURBL0JnZ3JCZ0VGQlFjd0FvWXphSFIwY0RvdkwyTnlkQzUxYzJWeWRISjFjM1F1ClkyOXRMMVZUUlZKVWNuVnpkRkpUUVVGa1pGUnlkWE4wUTBFdVkzSjBNQ1VHQ0NzR0FRVUZCekFCaGhsb2RIUncKT2k4dmIyTnpjQzUxYzJWeWRISjFjM1F1WTI5dE1BMEdDU3FHU0liM0RRRUJEQVVBQTRJQ0FRQVZEd29JelFEVgplcmNUMGVZcVpqQk5KOFZOV3dWRmxRT3RaRVJxbjVpV25FVmFMWlpkenhsYnZ6MkZ4MEV4VU51VUVnWWtJVk00CllvY0trQ1E3aE81bm9pY29xL0RyRVlINUl1TmN1VzFJOEpKWjlETHVCMWZZdklIbFoySkc0NmlOYlZLQTN5Z0EKRXo4NlJ2RFFsdDJDNDk0cXFQVkl0UmpyejlZbEpFR1QwRHJ0dHlBcHEwWUxGRHpmK1oxcGtNaGg3Yys3ZlhlSgpxbUloZkpwZHVLYzhIRVFrWVFRU2hlbjQyNlMzSDBKcklBYktjQkNpeVlGdU9oZnl2dXdWQ0ZEZkZ2cmpBRGpkCjRqWDF1UVhkMTYxSXlGUmJtODlzMk9qNW9VMXdEWXo1c3graG9DdWg2bFNzKy91UHVXb21JcTN5MUdERk5hZlcKK0xzSEJVMTZsUW81UTJ5aDI1bGFRc0tSZ3lQbU1wSEo5OGVkbTZ5MnNIVWFiQVNtUkh4dkdpdXd3RTI1YURVMAoyU0FlZXB5SW1KMkN6QjgwWUc3V3hseW5IcU5ocEU3eGZDN1B6UWxMZ21mRUhkVSt0SEZlUWF6UlFuckZrVzJXCmtxUkdJcTdjS1JueXlwdmpQTWtqZWlWOWxSZEFNOWZTSnZzQjNzdlV1dTFjb0lHMXh4STF5ZWdvR000cjVRUDQKUkdJVnZZYWlJNzZDMGRqb1NiUS9ka0lVVVhRdUI4QUw1anlIMzRnM0JaYWFYeXZwbW5WNGlscHBNWFZBbkFZRwpPTjUxV2hKNlcweE5kTkp3ellBU1pZSCt0bUNXSStONjBHdjJOTk1HSHdNWjdlOWJYZ3pVQ1pINUZhQkZER1I1ClM5VldxSEI3M1ErT3lJVnZJYktZY1NjMncvYVN1RktHU0E9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
    key: "LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQ0KTUlJRXBBSUJBQUtDQVFFQThMOExVUGNXVkt0eG5QaTNMTEZqTlJhQUVOZnlIOTUrcGtETSs2TEFwbDhqa3BHbQ0KSWZtWWpHQ0lSRDNraVZLSmdRbVdIZEJBeVhPRGhZVWdmUHR0ZGlKejZDUkpjWmZSd1M4L2QwNnNrRFgzeGMxTg0KbTB4VGtCQmhEL3phcHgrZkpWNDdvck1xV0d2YUtPakdtNk9paHhVbkhoZnFwOWt6d3IxaFlSYUtuU3ZPbGcvaQ0KLzBGZmRmZ2pndnFYbSt5WkRzL0tCcTlOKzJySW5KUkZLTzlydUlNMDl0aFZtbi9NSDcweVpGZWN2UDJ5cXlpVA0KdGVvVXViR0t4eU1GTlhwd3FvdkpZNWhpZG15WE8rQXI1elByZWN2cTlqc0U0S3c1V2RmWTBQTSs0Vm83TDh1ZQ0KdHFNdGhrTkFOS1QwN1d3MUJjRTgyU0cvK2plVkNVTXpldFdHSVFJREFRQUJBb0lCQUczckpEME8yNnpEN0djNQ0KcmRTamwwSzlaN0tKRGowYnhxS2MwcHFQeURzT0ZEMU83OVh5VW9MQmJtWU9Ca0xtb3U1K0ZJSy9PMTFmTnUwbg0KQjlyWXB6VTViTWRRamhIbHVmamszQ3JhaW5KN21ZbS8vNCtJN1Z4SkJqQVpDREltLzNBOTBxZXArd3NORHpuLw0KY2ZMTTV4K2ErbFhFb0xpTE5KVlZCMW1mUTZHWFpJaUVla3RFNWxPVUJvN1QvcGhZNFBOckFuMmxLZ09LdmtjSQ0KQU9SSmdUYWgzMHFDK0RTRG9Xa0dIUW9UTVE5ZFZ3RVVUbmNqOEZOUnBobml4djVzYUFtVGtBNWZKeXI3b1dZSg0KbnA5c1ExM1pRcVVKaTJnY0JHbFYrVmllOGZQMGUvMW5iM3IzelNZdUR2MUlIc1RqQTNwdU5vQnl4NUZkZEpBdQ0KTHM4ckovTUNnWUVBL1VsS2ZWNGlKWHZaa1FqamtkZEx1QnA2Yk44WFovSmJMVGZnSFJrVDlvUjJNYzhXdWlLQg0KSjEzanl3Z3V3T0NzK0lqRE9IMVZkK2pLWW9pMzVnSnN3aXV6ajg2eEZVTkl4Q0oxbGZ0eU5vOEdmc29TbFVTaw0KMDhYZE1Tb2ZNZHBUTEJISzBvSHJwMmY3Nk15d1ZoUEtNaGhsa0ViRVNiZk9Jc2VLZkhXWTlQc0NnWUVBODFOYg0KMGZ4ekdEYVQ0aFVMcHl3SGxxVEczRzY3QUFyS2pzRXdtc0RzK3JiSUN4aUNIWldPSFZZUlVrL2dWVkFsOGw2eg0KVlo4M2MrVy9uVnJHeHZ1TkNLeVlEY0xqSHpSZnAxM2lwWjZxSkg4QVprVmVnKzU5dVBrdzNuN1hqYi9GRjhTSA0KOExpcU9rM3djVU1RUm9oRnhKUjJFbzR3Q0U3Wjd3eW1hMUduYnBNQ2dZQmI0cDI2VTA3eDZEY3FiVjRaUjFCNQ0Kem1sQlc4RmkvVUhrYXBQTUdvL3FhMjF4Ymw0aFVta21QZUpvZ21ScnBsWTVwMnVpNzV6MDdpZVZqV0doZUptNQ0KNng2dCtkNjJCdjI3NFlCazA1NUFlcXh4ako4bk5ZclNKTUswbGtKUTFKSTl0NHFyeVdRVERCOFAra215UUdXbQ0Kdk1FRGtSaWVZYWJQYVRJdEtvQTl4d0tCZ1FEYnRHM1pDZkJHY2FsUDN4N1pnRmtOdlpUTm5ySDgxTUdXNm50Zg0Ka0VtcUMzWlBCbjhlQlZiL3lDSDF4NmZRZ0lEeSttMUZKM0VqbGRSUldaRFlSSFJRMjc2ajFrL0xjamZZWUY1dw0KbXZZWDVCRFJSMXVURnJtd1ZsaTQzYUQySGF6eHpBUE82SDdVREdISmN2dDBKRUdTd1ZablpMbWNGczZUR1VIKw0KN3dpV1B3S0JnUUNNbVNlVWJnZkNLcE1OZFdmeHd3Q1pUQTJrKzRxa2ZaZUlHOXNHUFVNQjEvOVhPekJlc1BVYg0KYnEzOHdtTUlBakxvTFFRV0lvd0hJNGUzd3hITE5tcHo1UnNOeWZPeVhNSzV4Y0xQQzRsdGFwTW5VU0tmMTN4ZA0KbTlCVVdCaFgwM3RaSXBJb2I5d1hNdisyck85UUo1Y2pPZ01UR0FlaVI4R2FMdmZ3MkN0blJ3PT0NCi0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0tDQo="


resources:
  limits:
    cpu: 500m
    memory: 824Mi
  requests:
    cpu: 150m
    memory: 300Mi

livenessProbe:
  enabled: true
  httpGet:
    path: /app/
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  enabled: true
  httpGet:
    path: /app/
    port: http
  initialDelaySeconds: 20
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

startupProbe:
  enabled: false
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 30

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

podDisruptionBudget:
  enabled: false
  minAvailable: 1

configMap:
  enabled: true
  data:
    dbhost: "dbsvc.mysql-dbs.svc.cluster.local"
    dbuser: "ahmad"
    dbname: "lockers"


secret:
  enabled: true
  # Provide encrypted data (created with kubeseal) as key: sealed-value
  encryptedData:
    dbpass: AgBxQbKGO0D4jzA+lKQ3On/Ns0RXQviE3qZrhb5vK1/M+gsDYn5wXeh0wrI2byPzC9K/34erpJku3LWlUzHAnRW5zFYuwKy1/trhlWM8zQQpxmB3tUFH/zk/5/eFFIfMPlGE/Ye/A2Y9x5ZeopNDd32B8fkkpE5c2/8wyPp9cLeij/iYDm2WCN2JliZzxlO8a3G0fSA1AP3FTwn0gahe6OLrKwPThMehP8gDKgcGuNp3mqS7CfE3+J2FjXuVj5k40Nbgr7xjegeYsGu4sPu1y8do7qDcIVbjehD5J0FobKe42ZtoehPq/0K8h8idsN1bA7H9FZUJSs1F12R6ljLAvW56kuRNT8Xb5GiVO665rAYFl9RcS7IES9hKdz+EdBXzPufex9E7rBF1Jve7LvMwpsYuczYWsfYi1Myg/2vhS+2LSkGq+XdyQFYefsFQBKR28uWxHrAxxwxCglcnnFnrAAVRlce5Zzr7NKfQ/aNERhesKTONMhh2+ZNf/tyq9cf7gc6YVBhiNacWBwb9YgRkJv1xaw0B4ZrlG4i2bjRkELNNEUEOSxz5J1mdup/RA4oGXeL+0m9m+4bTP6BOIGI66vxrMayG6VFtmFjqzmY1JURa7CeA48fwK3tgRCRCktEpb29+i0SCQKIjjPUC9gfMsicnhsUwZZqeCbIDrW77tQ8dDEZDyRpBh3VWv+jSOOOT0DH2y1x/9CQ5dA==

  data: {}

env: []
envFrom: []

initContainers: []
sidecars: []

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

