# Default values for the application
replicaCount: 1

name: "blog-app-apis"
api_port: 9090
envs: "dev"

image:
  repository: ahmad75/blog-app-apis
  pullPolicy: IfNotPresent
  # tag: "9"  # Overrides the image tag whose default is the chart appVersion

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # runAsNonRoot: true
  # runAsUser: 1000
  # fsGroup: 1000
  # seccompProfile:
  #   type: RuntimeDefault

securityContext: {}
  # allowPrivilegeEscalation: false
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true

service:
  enabled: true
  type: ClusterIP
  annotations: {}

ingress:
  enabled: true
  className: "traefik"
  annotations: {}
  customIngressHost: ""
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - paths:
        - path: /
          pathType: Prefix
  tls: 
   - secretName: "tls-cert"
tlsSecret:
  enabled: true
  # Leave empty to default to the chart fullname.
  name: "tls-cert"
  tls:
    crt: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUYvekNDQk9lZ0F3SUJBZ0lTQnJ4Z291MkZMRkZ5ejR6UEdDN09YeTBITUEwR0NTcUdTSWIzRFFFQkN3VUEKTURNeEN6QUpCZ05WQkFZVEFsVlRNUll3RkFZRFZRUUtFdzFNWlhRbmN5QkZibU55ZVhCME1Rd3dDZ1lEVlFRRApFd05TTVRNd0hoY05Nall3TVRFME1URXdNVFV5V2hjTk1qWXdOREUwTVRFd01UVXhXakFaTVJjd0ZRWURWUVFECkRBNHFMbXhoWW1WeUxtOXViR2x1WlRDQ0FpSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnSVBBRENDQWdvQ2dnSUIKQUptS0RkektCMEdzUEZTdnlVR3ZQOXhXUG1RRGhtTVRGSHFNbG9hdmp1aUJyYVhRVG1PdERJaGN3RVpoZXRURgpFbURIRllkUy9TOEF1WFhFK29qUmxLQnk2VXU4WmNZR0NQY1Rvb0p5V3NMbVc1WlVxdUJlNWpuWjZJV0VkWnE2CmlXTk1uUFRCY2Rkd2d1clJrQWxTK0dmQW90N2hEbUxrYTErQUtTNE10MUVidURZZ1hxblFONTVOUGN0RVVWMHEKV1FJZ3h3VUVJR3dGTmxYTEZmWVp0aWZWazdJVGU2VDcyRjJCTXhWZ3RJazZqVVlSVzk5THF5aVhGUlM3Y0JvTwo0anpBRUhYdlBJb3pZQUhrbnh3Wm9FU0VLY3diSWI4aXNtV3dicnEyOWdsMFR2dzUzUUlxNnpCTHpGdFpCRlJJClRwVlB5V2k4ODJFR0dkOUpEWHNOb2U1dmJ2SGN3Y0xzTjNoazZGN1E2UkNxRG40VG1zdmdSRU94VE9NQkN0ajkKa0lwMzhKZlBLSkZXeitsNGJ0eW4wMkZqdTQ1Zkc2N1Nhb0IvRUlxQm4ycHU4emhVZFNycFhGTE42ODMwNVVEZwpDcFVtRWplckFyTGQweFlTbWVmbmoyRmNXTlJqTjVkRHpEanQwbVlMTm5yVXBBOFZ0R2N0OW84c2t6SUNHNVlKCjVnRHJxQW9GTXVqSC9vWGpOVVlTc3ZxdmZGdHVEMFVqcVZIMlh0ZUd2anNyK1VISk1PODhvblZVcVRuR3cyWHAKUG1vWncwQjRRZlAzUGVQNVJsVjRMOTBHK1hmbUhUK2xCbG9YblBDNnkyM01OdGJqUjV6ZWoydDdvdnd6NUpsMgpBRXBnRWVyZ0ZpSHZ2b1lyT2tWaDBnaXV5cGY1OWdYQXg2RTFkbzllUWkxckFnTUJBQUdqZ2dJbE1JSUNJVEFPCkJnTlZIUThCQWY4RUJBTUNCYUF3SFFZRFZSMGxCQll3RkFZSUt3WUJCUVVIQXdFR0NDc0dBUVVGQndNQ01Bd0cKQTFVZEV3RUIvd1FDTUFBd0hRWURWUjBPQkJZRUZKbXZkS2ZQUTJLNVoyeDdXZWIyTU44N2hqNjFNQjhHQTFVZApJd1FZTUJhQUZPZXJudzhzTTZCVDAxNVBlTWl5aEE0NzFwSXpNRE1HQ0NzR0FRVUZCd0VCQkNjd0pUQWpCZ2dyCkJnRUZCUWN3QW9ZWGFIUjBjRG92TDNJeE15NXBMbXhsYm1OeUxtOXlaeTh3R1FZRFZSMFJCQkl3RUlJT0tpNXMKWVdKbGNpNXZibXhwYm1Vd0V3WURWUjBnQkF3d0NqQUlCZ1puZ1F3QkFnRXdMUVlEVlIwZkJDWXdKREFpb0NDZwpIb1ljYUhSMGNEb3ZMM0l4TXk1akxteGxibU55TG05eVp5ODRMbU55YkRDQ0FRd0dDaXNHQVFRQjFua0NCQUlFCmdmMEVnZm9BK0FCK0FIRitsZlBDT0lwdHNlT0VTVDB4NFZxcFlnaDJMVUlBNEFVTTBHZTFwbUhpQUFBQm03eGcKMjU0QUNBQUFCUUFHN0FGdEJBTUFSekJGQWlFQW9xdHlKWXpVbU5kTHRXd2VUQmdRMGlGRE0wVXZLTnFVZ0gvbAoxOURTYnc4Q0lHU3hNdHE0dDQxZ21hOGE5S1lndFZWb3lmRFhValpERng5clFGWEFCZ3huQUhZQTBXNnBwV2dICmZtWTFvRDgzcGQyOEE2VThRUklVMUlnWTlla3hzeVBMbFFRQUFBR2J2R0RjRndBQUJBTUFSekJGQWlBVXdWYXQKQTNPaGpiTDEvTDZPM0l4VmpEY0Q4Q282MERXbXVZNUxTekhPeGdJaEFNYTFEK1MvM2RINHh5a0N4Z0NLUkw3OQpPSU9MaHgvZnFBN05jaUVucjNlVk1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQ0QxUzZmc2FmMUtHNGZEYU12ClRCSGpKdXlKaFFrNXgxbWg0RmtYbVB4bEtnVW83RzAvNFI1cWRwNUtmaEI4emFnQ0lXVURWRFJoYks1bjgwVmsKS1dwVjh3YTB3WlB1eUFLSjlzeFZremJEK0lxa1NIWlFmVGtQcldEUmVCV3dPYzNBZVZuK29maThFb0IrMnkwWQpHYmtxM1lRRXFiRmk3QTc5OUlob3NwRlJ5QTh4OEVmMytzTGNnbCtmVVgyRW0rZk1FRmVtQ2k3dTN5a0JWNnRiCnQ5TzVIRGxBZDg5U0VBNTI3OElrNUZCdzdBYmRVNVpOdjgwTEVNNzFaT3puVG9xaXlTWEIrZGFKN3NNWjJQVFAKMWRTL0ladzJ5Sjh1TXNBUEhMb1ZBQlpJcWpncjFHNjNYUjZVMzFiUXNvY0x3Si9LMDFMdjcxYmYveE1QUjRSTQpmd1R3Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0KLS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZCVENDQXUyZ0F3SUJBZ0lRV2dEeUV0alV0SUR6a2tGWDZpbURCVEFOQmdrcWhraUc5dzBCQVFzRkFEQlAKTVFzd0NRWURWUVFHRXdKVlV6RXBNQ2NHQTFVRUNoTWdTVzUwWlhKdVpYUWdVMlZqZFhKcGRIa2dVbVZ6WldGeQpZMmdnUjNKdmRYQXhGVEFUQmdOVkJBTVRERWxUVWtjZ1VtOXZkQ0JZTVRBZUZ3MHlOREF6TVRNd01EQXdNREJhCkZ3MHlOekF6TVRJeU16VTVOVGxhTURNeEN6QUpCZ05WQkFZVEFsVlRNUll3RkFZRFZRUUtFdzFNWlhRbmN5QkYKYm1OeWVYQjBNUXd3Q2dZRFZRUURFd05TTVRNd2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFSwpBb0lCQVFDbFozQ04wRmFCWkJVWFljMjVCdFN0R1pDTUpsQTNtQlpqa2xUYjJjeUVCWlBzMCt3SUc2QmdVVU5JCmZTdkhTSmFldEMzYW5jZ25PMWVobjZ2dzFnN1VEakRLYjV1eDBkYWtuVEkrV0U0MWIwVllhSEVYL0Q3WVhZS2cKTDdKUmJMQWFYYmhaempWbHlJdWhyeEEzLytPY1hjSkpGelQvakN1TGpmQzhjU3lUREIwRnhMckh6YXJKWG56Ugp5UUgzbkFQMi9BcGQ5TnA3NXR0MlFuRHI5RTBpMmdCM2I5YkpYeGY5Mm5VdXBWY005dXBjdHVCenBXalBvWFRpCmRZSitFSi9COWFMckFlazRzUXBFek5QQ2lmVkpOWUlLTkxNYzZZakNSMDZDRGdvMjhFZFBpdkVwQkhYYXplR2EKWFA5ZW5aaVZ1cHBEMEVxaUZ3VUJCRERUTXJPUEFnTUJBQUdqZ2Znd2dmVXdEZ1lEVlIwUEFRSC9CQVFEQWdHRwpNQjBHQTFVZEpRUVdNQlFHQ0NzR0FRVUZCd01DQmdnckJnRUZCUWNEQVRBU0JnTlZIUk1CQWY4RUNEQUdBUUgvCkFnRUFNQjBHQTFVZERnUVdCQlRucTU4UExET2dVOU5lVDNqSXNvUU9POWFTTXpBZkJnTlZIU01FR0RBV2dCUjUKdEZubWU3Ymw1QUZ6Z0FpSXlCcFk5dW1iYmpBeUJnZ3JCZ0VGQlFjQkFRUW1NQ1F3SWdZSUt3WUJCUVVITUFLRwpGbWgwZEhBNkx5OTRNUzVwTG14bGJtTnlMbTl5Wnk4d0V3WURWUjBnQkF3d0NqQUlCZ1puZ1F3QkFnRXdKd1lEClZSMGZCQ0F3SGpBY29CcWdHSVlXYUhSMGNEb3ZMM2d4TG1NdWJHVnVZM0l1YjNKbkx6QU5CZ2txaGtpRzl3MEIKQVFzRkFBT0NBZ0VBVVRkWVVxRWltelc3VGJyT3lwTHFDZkw3Vk93WWYvUTc5T0g1Y0hMQ1plZ2dmUWhEY29ubAprN0tnaDhiMHZpKy9YdVd1N0NOOG4vVVBlZzF2bzNHK3RhWGlycnl0dGhRaW5BSEd3Yy9VZGJPeWdKYTl6dUJjClZ5cW9IM0NYVFhESW5UKzhhK2MzYUVWTUoyU3QrcFNuNGVkK1drRHA4aWpzaWp2RXlGd0U0N2h1bFcwTHR6amcKOWZPVjVQbXJnL3p4V2JSdUwrazBEQkRIRUplbm5Dc0FlbjdjMzVQbXg3anBtSi9IdGdSaGNuejB5alNCdnlJdwo2TDFRSXVwa0N2MlNCT0RUL3hERDNnZlFReUt2NnJvVjRHMkVoZkV5QXNXcG1vanhqQ1VDR2l5Zzk3RnZEdG0vCk5LMkxTYzlseWJLeEI3M0kyK1AyRzNDYVdwdnZwQWlIQ1Z1MzBqVzhHQ3hLZGZoc1h0bkl5Mmltc2tRcVZaMm0KMFBteG9iYjI4VHVjcjd4Qks3Q3R3dlByYjc5b3M3dTJYUDNPNWY5Yi9INjZHTnlScmdsUlhscllqSTFvR1lMLwpmNEkxbi9TZ3VzZGE2V3ZBNkMxOTBreGpVMTVZMTJtSFU0K0J4eVI5Y3gyaGhHUzlmQWpNWktKc3MyOHF4dno2CkF4dTRDYURtUk5acEsvcFFyWEYxN3lYQ1hrbUVXZ3ZTT0VaeTZaOXBjYkxJVkVHY2tWL2lWZXEwQU9vMnBrZzkKcDRRUkl5MHRLMmRpUkVOTFNGMkt5c0Z3Ylk2QjI2QkZlRnMzdjFzWVZSaEZXOW5Ma09yUVZwb3JDUzBLeVptZgp3VkQ4OXFTVGxuY3RMY1puSWF2aktzS1V1MW5BMWlVMHlZTWRZZXBLUjdsV2Jud2hkeDNld29rPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCi0tLS0tQkVHSU4gQ0VSVElGSUNBVEUgUkVRVUVTVC0tLS0tCk1JSUVsekNDQW44Q0FRQXdKakVMTUFrR0ExVUVCaE1DVGt3eEZ6QVZCZ05WQkFNTURpb3ViR0ZpWlhJdWIyNXMKYVc1bE1JSUNJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBZzhBTUlJQ0NnS0NBZ0VBbVlvTjNNb0hRYXc4VksvSgpRYTgvM0ZZK1pBT0dZeE1VZW95V2hxK082SUd0cGRCT1k2ME1pRnpBUm1GNjFNVVNZTWNWaDFMOUx3QzVkY1Q2CmlOR1VvSExwUzd4bHhnWUk5eE9pZ25KYXd1WmJsbFNxNEY3bU9kbm9oWVIxbXJxSlkweWM5TUZ4MTNDQzZ0R1EKQ1ZMNFo4Q2kzdUVPWXVSclg0QXBMZ3kzVVJ1NE5pQmVxZEEzbmswOXkwUlJYU3BaQWlESEJRUWdiQVUyVmNzVgo5aG0ySjlXVHNoTjdwUHZZWFlFekZXQzBpVHFOUmhGYjMwdXJLSmNWRkx0d0dnN2lQTUFRZGU4OGlqTmdBZVNmCkhCbWdSSVFwekJzaHZ5S3laYkJ1dXJiMkNYUk8vRG5kQWlyck1Fdk1XMWtFVkVoT2xVL0phTHp6WVFZWjMwa04KZXcyaDdtOXU4ZHpCd3V3M2VHVG9YdERwRUtvT2ZoT2F5K0JFUTdGTTR3RUsyUDJRaW5md2w4OG9rVmJQNlhodQozS2ZUWVdPN2psOGJydEpxZ0g4UWlvR2ZhbTd6T0ZSMUt1bGNVczNyemZUbFFPQUtsU1lTTjZzQ3N0M1RGaEtaCjUrZVBZVnhZMUdNM2wwUE1PTzNTWmdzMmV0U2tEeFcwWnkzMmp5eVRNZ0libGdubUFPdW9DZ1V5Nk1mK2hlTTEKUmhLeStxOThXMjRQUlNPcFVmWmUxNGErT3l2NVFja3c3enlpZFZTcE9jYkRaZWsrYWhuRFFIaEI4L2M5NC9sRwpWWGd2M1FiNWQrWWRQNlVHV2hlYzhMckxiY3cyMXVOSG5ONlBhM3VpL0RQa21YWUFTbUFSNnVBV0llKytoaXM2ClJXSFNDSzdLbC9uMkJjREhvVFYyajE1Q0xXc0NBd0VBQWFBc01Db0dDU3FHU0liM0RRRUpEakVkTUJzd0dRWUQKVlIwUkJCSXdFSUlPS2k1c1lXSmxjaTV2Ym14cGJtVXdEUVlKS29aSWh2Y05BUUVOQlFBRGdnSUJBRmVPN2NMVgpkTTNoK0hKS2xjSXpnMVZjV3BwczlJYklSNnFpKzhCWEdKcHZpQXMwV2I0QnBpT3hRSW1sQmJWWG9teXAxV3poCkVDR3FSMmtTS2tnMXhPcS9vVEJkYS9WMU9PQStMeFRnZlQ1OEgvaCtvT01BT0hjZ1NiM0Q0Mk92Z3owU1ZNQUQKZXpSeXFLQzF2dXlXMmFTa25qbDdPdXdpbWZ0UWxqdmpPRllGWkM1U0pzYktpbUMxYjhoWTF0Qy9ndVpubWJpdQo2WVJtaXNKSjBJSkdJUEJ3R01rNDBab21FUnB2bCtNMHRWOG4xRTVoUW10NklhWmt4TVpGUFFsQW03K3NhR1JMCkw0WFN2bEROTGZtQ3BGY0NmL29MNWNJT3dENFRoNjJwQng0bmwwNGtxaG5hV0VocnhIOHovTGM3d0IvaXJpUkcKRks2aEtwaHRTWEVwek5rdXA3MTluOTBCMnZBT2tYQmNhUXdIR2hDRksxb1dUT01qd2ZJdzdzZXljK2tkaEJDagpTRnhydUFnVkJpTFNXcnRwUGxnU2xTNDljMVpTS09SVjRUekYyZHBsZGZNVnZVekIrTHI3ejJXenZldkQrSHQvCjl3U3ZEN0xXSXUydCsyYkNwUzRTQmI5TnA0bXc4bW9JMzU2VDNjOTBJcVV5RW8wY1NHc0FzZkdFNXl5ZnJFRW4KUTdtblJqZHZSUGdieFBRMDMwb21nUVpuL0g2MFZrNENjcjFuL2ZMdzJOcGZIeVRlN1hVdGluSFFoWkkycUVtdApYdkowR2p2TDhkcGJTd25GdGRxUjJtREVDMXdMK0UwUUNWdnlFWUtwQXUrL2RHaVNlbW5NNFhaRjFXMW1SZVRmCkNLYWVKWWVOUytzU1B5NXQwNUJCeTFMYXc0Mkhram5kR1FrWgotLS0tLUVORCBDRVJUSUZJQ0FURSBSRVFVRVNULS0tLS0="
    key: "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUpRZ0lCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQ1N3d2dna29BZ0VBQW9JQ0FRQ1ppZzNjeWdkQnJEeFUKcjhsQnJ6L2NWajVrQTRaakV4UjZqSmFHcjQ3b2dhMmwwRTVqclF5SVhNQkdZWHJVeFJKZ3h4V0hVdjB2QUxsMQp4UHFJMFpTZ2N1bEx2R1hHQmdqM0U2S0NjbHJDNWx1V1ZLcmdYdVk1MmVpRmhIV2F1b2xqVEp6MHdYSFhjSUxxCjBaQUpVdmhud0tMZTRRNWk1R3RmZ0NrdURMZFJHN2cySUY2cDBEZWVUVDNMUkZGZEtsa0NJTWNGQkNCc0JUWlYKeXhYMkdiWW4xWk95RTN1ays5aGRnVE1WWUxTSk9vMUdFVnZmUzZzb2x4VVV1M0FhRHVJOHdCQjE3enlLTTJBQgo1SjhjR2FCRWhDbk1HeUcvSXJKbHNHNjZ0dllKZEU3OE9kMENLdXN3Uzh4YldRUlVTRTZWVDhsb3ZQTmhCaG5mClNRMTdEYUh1YjI3eDNNSEM3RGQ0Wk9oZTBPa1FxZzUrRTVyTDRFUkRzVXpqQVFyWS9aQ0tkL0NYenlpUlZzL3AKZUc3Y3A5TmhZN3VPWHh1dTBtcUFmeENLZ1o5cWJ2TTRWSFVxNlZ4U3pldk45T1ZBNEFxVkpoSTNxd0t5M2RNVwpFcG5uNTQ5aFhGalVZemVYUTh3NDdkSm1Delo2MUtRUEZiUm5MZmFQTEpNeUFodVdDZVlBNjZnS0JUTG94LzZGCjR6VkdFckw2cjN4YmJnOUZJNmxSOWw3WGhyNDdLL2xCeVREdlBLSjFWS2s1eHNObDZUNXFHY05BZUVIejl6M2oKK1VaVmVDL2RCdmwzNWgwL3BRWmFGNXp3dXN0dHpEYlc0MGVjM285cmU2TDhNK1NaZGdCS1lCSHE0QlloNzc2RwpLenBGWWRJSXJzcVgrZllGd01laE5YYVBYa0l0YXdJREFRQUJBb0lDQUNwazE0b0lrSE5lS3JSWmF6RURRaGRGCkN1b1RuUlliRFJML1lZcWp5OHBBRUNIUi8rcit1NUNsUjRQSFk2Si9IYUZ5SnV3Y0NvTmhhRlB2eFJ0ay91eEUKZmswbW9sVklrazRpY2tNaGJ4VVVoT0pmMDJTclgxZEc1ekNDai9SZW9CTzJjam9VZGFuK1MyK3AyR0x5c1ZyNApjaUFuTlJFeUw4R0pRaFdRZGtkalozd3VlT1RiZEpmMWpPUGtvN0NkUWtGWHFvd2toUTArYlMvSUtQS3dTNzc0CjlsUjdrNjdNeVFPY2FtM3pLelllNENZaUllTm9ZY1NOM3NqQUxtWkxpTVVzWlA4alJPeUYzZkwzM01UbUFINGEKbmUzWTZmcjhDaFVRMzZvWFhaempxL0Z4eXFmUUVPdGZhbmdvZm8wRkFBbXpJNUlUWmdINnJNY2R4U2FlYjREWQpQRnNGL05UaDNlY2FVTlhVa21YNVZCd0pJckc0ajdmeEJkbW1oZHIwU3Jxa1JTdGFwSVozYnVhTk5MN1JzSnBRCnJUNEZCTmlpaTFlRTVYNjJtSlJTc0hIMVZWYk9EbU9WSjNvelZxZVJNLy90QnZkenkrQjJtanhCTExnZk1qemYKMlNjYVU2Sk1QQzlXSGlhaWtFMVBrdjVybVIzelAvK3BrVk9KSW9JL3g3TFR4ZGJqcDd1TUlqRXoybkFTdkcwbgpVMk1idTRpbEFHZyttQ1ZIT3Zya1UrVTdFaU8vajlOTkpWS2pQZXF1Zk9UM29oYnNwT0lTWnYwVDhsdHRzME4zCkJzbUtUR2g4ZjFLWHVRY2tPZlVnSDk0dU14Mlo1ZzJVMjdFWm1nMkc2UGJIY1BRd2RvRWNxWkJIUWJqQWpSNmkKeXFtMXpvVm9nM0daU0hjdTFsMHBBb0lCQVFEU3lXOEJHMG5aR2ZWMWFGU3hEQnp3MkRHV3lSRmo2Mmw0T1VhSApRWDI4RDlYUzJGNk9meTRLK1BITGpXcjFUNGlIK29pYWMvazFKZnMxTzJGbHlJUmFWb1VUZUZiNWIrM2EyZjZaClY1N2M0ZHRtL0Jtd1ZXaC9ZYVh0bzZabU1RSXZEVndvTUlMTHMyLzhZVFRtUlp3SXoyR0NGOVFZMDBGV1pUbDYKUEdwakdMNGRCQ1ZLY2RXekdwKytTVEk5dHFGWDIxNnB1TW5qY2tCNFRlZ1hNbHo1NEMvWU11YzhkZnNudHVVRwpqYUh5dVhnOUdmc2VwVzB0UXJFTFJsZFQ4eE9Xb204Y3IvUUZBaTQyWU10OEpFQWlOb3dxWU9uVUpxeUV5a3hKClBseE5jQjU0SVhlWDdZNkxGWDNFK2pZWm1qaGlmL3YvdEFWMFZTYnlweGZxdUFKakFvSUJBUUM2ZVJYZENCeUgKTjQ2TUdtSU90cWV2dER0UE9EMm5sT2czMlVldnZtWmFMRDJ1Y1FZTXNac1gzenJKdHlhY3R5Rm9md21SOEg2Ugp1eUVzTWJQa0lYOTEwOTgvWW9Cb0lRNGdzMDFLak9mV2NpN1NKclpHMnMvNW16emx4aVR0NUwyVWFjQ1p4bUlhCmdhbjJzT0VCTVNEa3ZWZWxPenY2K1RRTmNFVWhrTi9xNzI2U1pHUkNXbUNkOVczOTRZOWlQc093cGprR2JKM08KQm9wQ2V0ZS9nS0lreWRoYkZ6NTZncUtxU0JudTNkbFpCbUtIa29IZVNVZ1Q0TXNsb25YbGY4ZEcrL2ZVaWs2bApsZjMxSGZpMHMrQ25IMDRqU216dzlwdGZDVk5pQnk0MlpqT0dqZEIvcTFLaDJDTDZOeVdZYTR3VTVxeDNiYnZzCnhhSU53ZlRnTkJOWkFvSUJBRXBMN2ZCNTZlRzRJS2l0aVl5T05IVS8vdHFqTEpvSGxEbG9Gcy85Nlkrc0ZUWW8KUmN2OFVBSldGUVFtYUpqbTI3enlOY3diTEsvckgweDREYkNPcVBnZW52RnA3VjRtY2JRK09sdGFZd2lBSTVGOQpNcURRdWZDTVBxd3dqcXBlZytLSjF2M2plM2JKWEtPY3I4U3FySUQrZCtRZStnZDJEd1dnMEUyaGxlNHYvbkxECnoxRWFKclRtb1grMDFSeWpqdU1rMDQwSE1VSVdOMXN3T3FwU2Vpc3BOalFDWFRjV2J0eGt2djA4VnVUek1zcDIKcWVqM2JqQVIzYzJYa1pocGlYSUM5eDhwZGQxK0UwUGZnbG5UZlRlUituM0ZneVhnSzlieVowazV6ZGNOdWUrbAovRDEwNGxWcjBkVG9UTUZoZHBaaGZqVjNBcVVxam52aEliRCtBdmtDZ2dFQkFLMVRKMU5QMnRTRWUyY1dqdGFHClNNODBnM3hiRmxQU1FSYklTNjI3R0gvd1oxVGhrWEh6RStuWWdGaEdlUWxwM3crMkpUc1ZnMUFKMUFlMEd6V04KUFdCVUUwcGpVRjk1ZWh4RERUQ2lVRXd2emYxZ0prVXQxZXA0dE40T2t2emNoS3FTc1ljOXNxcFlvNWE5U2lkRgpkd0dtVFBVMFhjZ21Jby9yTHhiSUJwbmsrNjN1eXBJeVYyUDdZTVYvQnp1V2cyYUsycTV4L3l3bFFCWVRBTDdyCjNjcThJdkpvWkphVEhvZVFoU3BWNDFTd2JwejlQT0ZVMUQ1RjBBMm5PRmFkc3FqMFE2TzIrdXRHdzhzMmxKbkMKS0txdW1uNkxDei9ldVFSWk1yd0hXSmtQM2d6UGZHRnU2VnV0L3JUODFXRWJkaFZuWkIrT1RBTUVvR0NSUy8rcAo1K0VDZ2dFQVNybjJHWm5aRGJ0Z21yeS91QmxUdmI4cEVjVXkvb25KeTQvM2lLYU00WXAxcjhTc2locXlCUW5mCkxNRStuazJuakphWm9hSU5tNldKa0ZmTWdBRXRvR2ppRGRzOWJpR0txeCtkWXNDSTRFNHdJTkNaNHJNWklPQjkKamI1ZTlpektZSldBWEpWSnJGYUVVdnZmUmdheUtUVkdtVUxKMlMwdDRyV2xLaXFGYlZWeXpsbkxoclVQLzRnRwoycXpCQXQ2d0JydjQrN3drYm1ZV2V5RWZUUkhnUzRIaXpTMnQ2NU9pSGNHWGQ3cytoMzJudEJlTk40Q1Vrdk0wCjNMV3hmVVVDa2E3U1FlcWJ3UGU0WFZOVVZ6RFRmZ2pGZ3Z2YjdxYVVEY3p2NVMzc3FOaE4xd2xaL2hqNVltL0UKSEFtT1dzT1RIOGNURVVJM041ZndkYWNkcG1HZThnPT0KLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLQo="


resources:
  limits:
    cpu: 900m
    memory: 1024Mi
  requests:
    cpu: 450m
    memory: 500Mi

livenessProbe:
  enabled: true
  httpGet:
    path: /api/v1/health
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  enabled: true
  httpGet:
    path: /api/v1/health
    port: http
  initialDelaySeconds: 20
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

startupProbe:
  enabled: false
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 30

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

podDisruptionBudget:
  enabled: false
  minAvailable: 1

configMap:
  enabled: true
  data:
    REDIS_PORT: "6379"
    SPRING_DATASOURCE_USERNAME: "avnadmin"
    REDIS_ENABLED: "true"
    demo : "value"


secret:
  enabled: true
  # Provide encrypted data (created with kubeseal) as key: sealed-value
  encryptedData:
    REDIS_HOST: AgCmcC7Q4jVbkiUFyYK81nyceg2Q5coTERprAJZBGPaFVVk3rrrb5rWE1xGhM/QBeCSWRTatD+Z/2oHxWGUxS9ziTtbbK6kPui32ElsgXy272T00YUAjKymyAKO8HiRzCVn4vKdewVipVzeSvxlLcsJEW27BloK++awwsekDOdOk5Qm0UeTffcmoWXGlgJRw2tHTriqpsMu8AWteilTEQEVeNe9vEuqSXYxM6g0HWJW34GUM+pmyLconpK2KDnW3cwpJdsesRA03JY44pb47ulm3kxki5NUsnzlhDfVKsysdUKDUF0fImo1Sz8T+mv6NI+kNHMjIE+SdKynzfO/jV9VXB+nZmx92kjsEQ168ib97+ZBEkwyyuRg4A0xnwUx5dIgOj8xvprw9883821vG501HEjL8rIAyQQKxVJnezsIwIjljxPvw7B11D83e75hwV08UKrTeATG1dCICxbfJYf34Es6PpZQcTJwWbZLjS2F00afXNZ6H/ntdJaB1QzfN28rgoxR/iRkOtO2DClolRbIZ/ekEljZubvtIezxFRRnu3wk/QbbZ2mG+rH8xa+pYi2houVbDWWY2GfDO3CFafznJY1aSUwneZZSmNvPJlnXff0n0z7Zx56L4GhZfMgGmvREbL44GyzFPY6dvNMql18guVuhCo4Twc9Q1kA7s3Df6V2/TvatMGmK6FsiFwE2L3KAvZV79WbxqJYK9o9hg3ig9EGQNyzmWvIo3J3mRtm72
    SPRING_DATASOURCE_PASSWORD: AgABy6b58w3WXZ2PSVPXe7TMBE1E9MAMkmgvhnFtZFa3vSRfqZsNjIb/rHo1f0jpiI5nOEtJsjEd1Tq8uJV7xL7xRxgD1yIf6a18cVilQMTW4Yg+re58M9Y6T4udgoMRix9Y2eqvYRVyVFWF+qnLj9fTg2d8qv2xJX4sNRH9NFVCMcgYEdff95PSigsxpNAbrZZnyzJ1DpOJxGv7ju53MQY8eUgdgjGca/quJvxYL8G9jfBfjyuwmkOKbT3vlbNgR6G/Hpq3XD3hwPzFq3/6aCZt43bV946ugC5p2Rvx7L7eTQS9lNFviQRv1abcsBlshEhnvrTK2bPOCoW3v+yhE3SXTjAS1ZwMwT+ESiAHzE3APPCbAvqEINVA+eLOMHgHQqVLro+fyncESegMOMGKoOcibWdU+SjOWBCx4UgZCM9D99+9fte9xYPbc8x2wiEX7wIc0r5okDCDcbcxZOMH92qvXsKVyr/YGeC1fEUGLSwmdCyZQVw5bP1UOl5s8AFjZi92VyXkGcIICUjikU+bHYLOCRIzMiT9sBoWdrNlohL75qKIAvLYZnnA7E+PzC3kleBQDtLqtjH+A19SrkyNRAoPzUnykwpyPj/7g7ZgEaEaoyn4E44a4hHj1/EOZgUcdW3ufIAWqMgf7aRst5n20bZgp8RGrkUAgZ3eJ03j5rLSwy0Vt05IZtiAnVYletzzGlcOuljmlR/+pCBEdKQD/pF3BgYouiFfo8Q=
    SPRING_DATASOURCE_URL: AgAGQME2n2ZPi2EDSgu5WVLOADYRFW/3IeIWHLnNUKYf50NRY/jSMUltDh1EFSNr7yYAlAbf8+S5wtOHRNYbpIoSYrl3R8z7lXtNTUskcwOwwQswFBs7O7ip8e95C6fZ4aSBxqeb+ZMsCujzfixHWu12Qb+zPEkv0YKuSH9wNaM0A+RSMAK9QmddDLn0twlY5BR0frEHrrqfSnj3VnRpZ7fMWkFCDDmpAH329sWxGVJtj3Q89tbRDC7FWapmbuwo7U/9CsCsedEFR4d0gl7m2idgb+sgjxlTnHb3S86MelfuKpOJdp2M1LyyKBV/xQh6ezmM0Bpt7Va3/gupkZQ7xXz1miqGXxk7x6mTcSzSJ4f1kpTXgI8MgFSmYGNZg99mXHsVXDk7vIJYPITjORSoSs/vhxcDo+QZQ+pnLihIimUlkC/1fYSm0MgkmoA4nlb0pWFQVr3dflhAVEm1YEijCmnhzDOALbF5seW74yjEJJT6SSoGSXJGvblPEe9ONUgZDqg785hDM9ZPD148xt8SAtGfPxZ2wcEQg8xTrC2D7cHN5BcGxnnwxWJB26zSgOcV2t9mwNvxuV+zE5eiMks0z4yH1s9PL2tIcVJY4JZOEGYzscgCsuLszqg2WW+ZPkBVussOkqgFyMDv5+IwMH06bWDH7nsUxXAm5dWuKL3pYH+r4BZOlB0OKYPRzH9y8oQma2xBnxxJnPYfaa682XE26X4rxgYyjDLY0HbIpakYOMYXBbSROBxR7T5d9dGy05SrdOiexpxiIA7fgkyUIaqapAw7f3lI9fvYkSqIwmqFZOV9zQewYw==
 
  data: {}

env: []
envFrom: []

initContainers: []
sidecars: []

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

